.App {
  text-align: center;
}

@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) {
  .App {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .App {
    grid-template-columns: repeat(5, 1fr);
  }
}